{% extends 'base.html' %}
{% block content %}
<h2>Список учасників</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>№</th>
            <th>Ім’я та Прізвище</th>
            <th>Організація</th>
            <th>Email</th>
            <th>Дії</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.first_name }} {{ user.last_name }}</td>
            <td>{{ user.organization }}</td>
            <td>{{ user.email }}</td>
            <td>
                {% if current_user.id == user.id %}
                    <a href="/edit/{{ user.id }}" class="btn btn-warning btn-sm">Редагувати</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
